<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Data Intro for Archivists</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-data-intro-archives/01-introduction/">Introduction to Library Carpentry</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro-archives/02-think-data/">Don't think you work with data?</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro-archives/03-foundations/">Foundations</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro-archives/04-regular-expressions/">Regular Expressions</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro-archives/05-quiz/">Introduction to Data - Multiple Choice Quiz</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">Introduction to Working with Data (Regular Expressions)</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-data-intro/01-regular-expressions/index.html">Regular Expressions</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/02-match-extract-strings/index.html">Matching & Extracting Strings</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/03-quiz/index.html">Multiple Choice Quiz</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/04-exercises/index.html">Exercises</a></li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Tidy data for librarians</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/00-intro/index.html"Using spreadsheet programs for data organization</a></li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/01-format-data/index.html">Formatting data tables in Spreadsheets</a></li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/02-common-mistakes/index.html">Formatting problems</a></li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/03-dates-as-data/index.html">Dates as data</a></li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/04-quality-control/index.html">Basic quality assurance and control</a></li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/05-exporting-data/index.html">Exporting data from spreadsheets</a></li>
      <li><a href="https://librarycarpentry.org/lc-spreadsheets/06-data-formats-caveats/index.html">Caveats of popular data and file formats</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">OpenRefine</h3>
      <ul>
        <li><a href="https://librarycarpentry.org/lc-open-refine/01-introduction/index.html">Introduction to OpenRefine</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/02-importing-data/index.html">Importing data into OpenRefine</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/03-working-with-data/index.html">Layout of OpenRefine, Rows vs Records</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/04-faceting-and-filtering/index.html">Faceting and filtering</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/05-clustering/index.html">Clustering</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/06-working-with-columns/index.html">https://librarycarpentry.org/lc-open-refine/06-working-with-columns/index.html</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/07-introduction-to-transformations/index.html">Introduction to Transformations</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/08-writing-transformations/index.html">Writing Transformations</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/09-undo-and-redo/index.html">Transformations - Undo and Redo</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/10-data-transformation/index.html">Transforming Strings, Numbers, Dates and Booleans</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/11-using-arrays-transformations/index.html">Transformations - Handling Arrays</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/12-export-transformation/index.html">Transformations - Exporting</a></li>
        <li><a href="https://librarycarpentry.org/lc-open-refine/13-looking-up-data/index.html">Advanced OpenRefine functions</a></li>
      </ul>
    </div>
  </div>
</div>
